[submodule "vim-io"]
	path = vim-io
	url = https://github.com/andreimaxim/vim-io
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "scvim"]
	path = scvim
	url = https://github.com/supercollider/scvim
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-swift"]
	path = vim-swift
	url = https://github.com/bumaociyuan/vim-swift
[submodule "python-mode"]
	path = python-mode
	url = https://github.com/python-mode/python-mode
[submodule "schwifty-vim"]
	path = schwifty-vim
	url = https://github.com/brianlheim/schwifty-vim
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-airline-themes"]
	path = vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim-cmake-syntax"]
	path = vim-cmake-syntax
	url = git://github.com/pboettch/vim-cmake-syntax.git
[submodule "vim-orgmode"]
	path = vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "vim-speeddating"]
	path = vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "utl.vim"]
	path = utl.vim
	url = https://github.com/vim-scripts/utl.vim
[submodule "repeat.vim"]
	path = repeat.vim
	url = https://github.com/vim-scripts/repeat.vim
[submodule "taglist.vim"]
	path = taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "NrrwRgn"]
	path = NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule "calendar-vim"]
	path = calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule "tagbar"]
	path = tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim-better-sml"]
	path = vim-better-sml
	url = https://github.com/jez/vim-better-sml
