[submodule "vim-io"]
	path = vim-io
	url = https://github.com/andreimaxim/vim-io
[submodule "ctrlp.vim"]
	path = ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "YouCompleteMe"]
	path = YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "scvim"]
	path = scvim
	url = https://github.com/supercollider/scvim
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim-fugitive"]
	path = vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "vim-airline"]
	path = vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-swift"]
	path = vim-swift
	url = https://github.com/bumaociyuan/vim-swift
[submodule "python-mode"]
	path = python-mode
	url = https://github.com/python-mode/python-mode
